<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>dragonlite.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level 🐳 Container - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.oracle.bmc" level="ERROR"/>
</configuration>
